.inputs {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 4px;
  margin-left: 4px;
  gap: 10px;
  --pivot-size: calc(var(--zoom) * 2px);
}

.input {
  position: relative;
  background-color: var(--vscode-titleBar-activeBackground);
  color: var(--vscode-titleBar-activeForeground);
  border: 1px solid var(--vscode-widget-border);
  border-radius: 5px;
  padding: 6px;
}

.input:not(:has(.sprite:hover)):hover {
  border: 1px solid #0055ff9b;
}

.sources {
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.source {
  position: relative;
}

.source .frame {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  background: repeating-conic-gradient(#eee 0% 25%, #ddd 0% 50%) 50% / 16px 16px;
}

body.vscode-dark .source .frame {
  background: repeating-conic-gradient(#333 0% 25%, #3A3A3A 0% 50%) 50% / 16px 16px;
}

.source .image {
  background-image: var(--filename);
  background-size: cover;
  image-rendering: pixelated;
  width: calc(var(--width) * var(--zoom));
  height: calc(var(--height) * var(--zoom));
}

.sprite {
  position: absolute;
  border: 1px solid var(--sprite-rect-color);
  left: calc(var(--rect_x) * var(--zoom));
  top: calc(var(--rect_y) * var(--zoom));
  width: calc(var(--rect_w) * var(--zoom));
  height: calc(var(--rect_h) * var(--zoom));
  overflow: hidden;
}

.deduced {
  border-style: dashed;
}

.sprite:hover {
  background-color: #0053ff2b;
  border: 1px solid #0055ff5b;
}

.sprite .text {
  position: absolute;
  padding: 2px;
  left: 0;
  bottom: 0;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
  z-index: 10;
  color: red;
}

.trimmed-rect {
  position: absolute;
  border: 2px dashed blue;
  left: calc(var(--rect_x) * var(--zoom));
  top: calc(var(--rect_y) * var(--zoom));
  width: calc(var(--rect_w) * var(--zoom));
  height: calc(var(--rect_h) * var(--zoom));
}

.pivot {
  position: absolute;
  margin: calc(var(--pivot-size) / -2);
  left: calc(var(--x) * var(--zoom));
  top: calc(var(--y) * var(--zoom));
  width: var(--pivot-size);
  height: var(--pivot-size);
  border-radius: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  border: 1px solid black;
}