body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 1px;
  overflow: hidden;
}

#toolbar {
  user-select: none;
  margin: 0;
  width: 100%;
  color: var(--vscode-menu-foreground);
  border-bottom: 1px solid var(--vscode-menu-border);
  background: var(--vscode-menu-background);
}

#toolbar .show {
  display: inline-block;
}

#toolbar .items {
  line-height: 30px;
  padding-left: 4px;
}

#toolbar .items * {
  vertical-align: middle;
  margin-right: 4px;
}

#toolbar input[type="text"] {
  margin-left: 4px;
  width: 100px;
}

#toolbar input[type="search"] {
  margin-left: 4px;
  width: 100px;
}

#toolbar input[type="checkbox"] {
  margin-left: 4px;
}

#properties {
  visibility: hidden;
  user-select: none;
  position: absolute;
  margin: 0;
  z-index: 30;
  padding: 8px;
  padding-top: 0px;
  color: var(--vscode-menu-foreground);
  border-radius: 5px;
  border: 1px solid var(--vscode-menu-border);
  background: var(--vscode-menu-background);
  filter: drop-shadow(4px 4px 4px #00000033);
  overflow-y: auto;
}

#properties .title {
  justify-self: left;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.7;
}

#properties input[type="checkbox"] {
  justify-self: left;
}

#properties .items {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-left: 4px;
  padding-bottom: 4px;
}

#properties .items>* {
  margin-right: 4px;
  margin-top: 4px;
}

#properties label {
  justify-self: end;
}

#properties input[type="number"] {
  max-width: 60px;
}

#properties .pair-2 {
  margin-left: 6px;
}

#content {
  flex: 1;
  overflow: auto;
  padding: var(--container-paddding);
}

.text {
  font-size: 1em;
}

.title .text {
  display: inline;
  padding-left: 4px;
}

.inputs {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 4px;
  margin-left: 4px;
  gap: 10px;
  --pivot-size: calc(var(--zoom) * 2px);
}

.input {
  position: relative;
  background-color: var(--vscode-titleBar-activeBackground);
  color: var(--vscode-titleBar-activeForeground);
  border: 1px solid var(--vscode-widget-border);
  border-radius: 5px;
  padding: 6px;
}

.input:not(:has(.sprite:hover)):hover {
  border: 1px solid #0055ff9b;
}

.sources {
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.source {
  position: relative;
}

.source .frame {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  background: repeating-conic-gradient(#eee 0% 25%, #ddd 0% 50%) 50% / 16px 16px;
}

body.vscode-dark .source .frame {
  background: repeating-conic-gradient(#333 0% 25%, #3A3A3A 0% 50%) 50% / 16px 16px;
}

.source .image {
  background-image: var(--filename);
  background-size: cover;
  image-rendering: pixelated;
  width: calc(var(--width) * var(--zoom));
  height: calc(var(--height) * var(--zoom));
}

.sprite {
  position: absolute;
  border: 1px solid var(--sprite-rect-color);
  left: calc(var(--rect_x) * var(--zoom));
  top: calc(var(--rect_y) * var(--zoom));
  width: calc(var(--rect_w) * var(--zoom));
  height: calc(var(--rect_h) * var(--zoom));
  overflow: hidden;
}

.deduced {
  border-style: dashed;
}

.sprite:hover {
  background-color: #0053ff2b;
  border: 1px solid #0055ff5b;
}

.sprite .text {
  position: absolute;
  padding: 2px;
  left: 0;
  bottom: 0;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
  z-index: 10;
  color: red;
}

.trimmed-rect {
  pointer-events: none;
  position: absolute;
  border: 2px dashed blue;
  left: calc(var(--rect_x) * var(--zoom));
  top: calc(var(--rect_y) * var(--zoom));
  width: calc(var(--rect_w) * var(--zoom));
  height: calc(var(--rect_h) * var(--zoom));
}

.bounds {
  pointer-events: none;
  position: absolute;
  border: 2px solid blue;
  left: calc(var(--rect_x) * var(--zoom));
  top: calc(var(--rect_y) * var(--zoom));
  width: calc(var(--rect_w) * var(--zoom));
  height: calc(var(--rect_h) * var(--zoom));
}

.outline {
  pointer-events: none;
  position: absolute;
  width: calc(var(--rect_w) * var(--zoom));
  height: calc(var(--rect_h) * var(--zoom));
}

.pivot {
  pointer-events: none;
  position: absolute;
  margin: calc(var(--pivot-size) / -2);
  left: calc(var(--x) * var(--zoom));
  top: calc(var(--y) * var(--zoom));
  width: var(--pivot-size);
  height: var(--pivot-size);
  border-radius: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  border: 1px solid black;
}

.outputs {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 4px;
  margin-left: 4px;
  gap: 10px;
  --pivot-size: calc(var(--zoom) * 2px);
}

.output {
  position: relative;
  background-color: var(--vscode-titleBar-activeBackground);
  color: var(--vscode-titleBar-activeForeground);
  border: 1px solid var(--vscode-widget-border);
  border-radius: 5px;
  padding: 6px;
}

.textures {
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.texture {
  position: relative;
}

.texture .frame {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  background: repeating-conic-gradient(#eee 0% 25%, #ddd 0% 50%) 50% / 16px 16px;
}

.texture .image {
  background-image: var(--filename);
  background-size: cover;
  image-rendering: pixelated;
  width: calc(var(--width) * var(--zoom));
  height: calc(var(--height) * var(--zoom));
}