.outputs {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 4px;
  margin-left: 4px;
  gap: 10px;
  --pivot-size: calc(var(--zoom) * 2px);
}

.output {
  position: relative;
  background-color: var(--vscode-titleBar-activeBackground);
  color: var(--vscode-titleBar-activeForeground);
  border: 1px solid var(--vscode-widget-border);
  border-radius: 5px;
  padding: 6px;
}

.textures {
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.texture {
  position: relative;
}

.texture .frame {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  background: repeating-conic-gradient(#eee 0% 25%, #ddd 0% 50%) 50% / 16px 16px;
}

.texture .image {
  background-image: var(--filename);
  background-size: cover;
  image-rendering: pixelated;
  width: calc(var(--width) * var(--zoom));
  height: calc(var(--height) * var(--zoom));
}