body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 1px;
}

#toolbar {
  user-select: none;
  margin: 0;
  width: 100%;
  color: var(--vscode-menu-foreground);
  border-bottom: 1px solid var(--vscode-menu-border);
  background: var(--vscode-menu-background);
}

#toolbar .show {
  display: inline-block;
}

#toolbar .items {
  line-height: 30px;
  padding-left: 4px;
}

#toolbar .items * {
  vertical-align: middle;
  margin-right: 4px;
}

#toolbar input[type="text"] {
  margin-left: 4px;
  width: 100px;
}

#toolbar input[type="search"] {
  margin-left: 4px;
  width: 100px;
}

#toolbar input[type="checkbox"] {
  margin-left: 4px;
}

#properties {
  visibility: hidden;
  user-select: none;
  position: absolute;
  margin: 0;
  z-index: 30;
  padding: 8px;
  padding-top: 0px;
  color: var(--vscode-menu-foreground);
  border-radius: 5px;
  border: 1px solid var(--vscode-menu-border);
  background: var(--vscode-menu-background);
  filter: drop-shadow(4px 4px 4px #00000033);
}

#properties .title {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.7;
}

#properties input[type="checkbox"] {
  justify-self: left;
}

#properties .items {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-left: 4px;
  padding-bottom: 4px;
}

#properties .items>* {
  margin-right: 4px;
  margin-top: 4px;
}

#properties label {
  justify-self: end;
}

#properties input[type="number"] {
  max-width: 60px;
}

#properties .pair-2 {
  margin-left: 6px;
}

#content {
  flex: 1;
  overflow: auto;
  padding: var(--container-paddding);
}

.text {
  font-size: 1em;
}

.title .text {
  display: inline;
  padding-left: 4px;
}