body {
}

body.vscode-dark {
}

#toolbar {
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 20;
  padding: 4px;
  width: 100%;
  background: #f0f0f0;
}

#toolbar * {
  margin-right: 4px;
}

#content {
  padding: var(--container-paddding);
  position: relative;
  margin-top: 38px;
}

.inputs {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  --zoom: 1;
  --pivot-size: calc(var(--zoom) * 2px);
}

.input {
  position: relative;
  background-color: var(--vscode-titleBar-activeBackground);
  color: var(--vscode-titleBar-activeForeground);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px;
}

.title {
  padding-bottom: 2px;
}

.title .text {
  display: inline;
}

.text {
  font-size: 1.25em;
  padding: 4px;
}

.sources {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.source {
  position: relative;
}

.source .text {
  font-size: 0.75em;
}

.source .frame {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  background: repeating-conic-gradient(#eee 0% 25%, #ddd 0% 50%) 50% / 16px 16px;
}

.sprites {
  background-image: var(--filename);
  background-size: cover;
  image-rendering: pixelated;
  width: calc(var(--width) * var(--zoom));
  height: calc(var(--height) * var(--zoom));
}

.sprite {
  position: absolute;
  border: 1px solid red;
  left: calc(var(--rect_x) * var(--zoom));
  top: calc(var(--rect_y) * var(--zoom));
  width: calc(var(--rect_w) * var(--zoom));
  height: calc(var(--rect_h) * var(--zoom));
  overflow: hidden;
}

.sprite:hover {
  background-color: #0053ff2b;
}

.sprite .text {
  position: absolute;
  padding: 2px;
  left: 0;
  bottom: 0;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
  z-index: 10;
  color: red;
}

.pivot {
  position: absolute;
  margin: calc(var(--pivot-size) / -2);
  left: calc(var(--x) * var(--zoom));
  top: calc(var(--y) * var(--zoom));
  width: var(--pivot-size);
  height: var(--pivot-size);
  border-radius: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  border: 1px solid black;
}
